LenguajesDeMarcas/PracticasDTD/Ejercicio15Externo.dtd

<!DOCTYPE lista_de_notas [
<!ELEMENT lista_de_notas (nota+)>
<!ELEMENT nota (para,de,titulo,contenido)>
<!ELEMENT nota (#PCDATA)>
<!ATTLIST nota dia CDATA #IMPLIED>
<!ATTLIST nota hora CDATA #IMPLIED>
<!ELEMENT para (#PCDATA)>
<!ELEMENT de (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>
]>